@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Mono&display=swap');

div {
  font-family: 'Fira Mono', sans-serif;
}

.spin {
    animation: rotation 1.5s;
  }
  
  @keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(718deg);
    }
  }

.has-bg-img {
  background: url('../imgs/hero-bckgrd.jpg') center; 
  background-size: cover;
  // background: url(../imgs/hero-bckgrd.jpg);
  }

.has-lg-img {
  background: url('../imgs/events-img.png') center;
  background-size: cover;

}

.is-large {
  background: url('../imgs/events-img.png') center;
  background-size: cover;
}

.subtitle {
  background-color: whitesmoke;
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px){

  .subtitle {
    width: 500px;
    margin: 0 auto;
  }
  
}

.navbar-item {
  font-weight: bold;
}

.tabs ul {
	flex-shrink: 1;
	flex-wrap: wrap;
	border-bottom-color: transparent;
}


@import "~bulma"